@tailwind base;
@tailwind components;
@tailwind utilities;


/* @Nader probier mal rum mit den Bildern  :-) Neon-Face oder Color-Pallette */
body {
    background: url('./static/images/Neon-Face.jpg') top center;
    background-size: cover;
}

#root {
    height: 100vh;
}

/* Clicka hir */
/* https://tailwind.ink/ */
/* LOL ? */